.container {
    padding-top: 40px;
    width: 100vw;
    margin: 0 auto;
}

.content {
    width: 70%;
    /* Adjust width as needed */
    margin: auto;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    /* Center align content */
}

.content p {
    font-size: larger;
}
