.container {
    width: 100vw;
    padding-top:30px;
    margin: 0 auto;
    color: azure;
}

.content {
    width: 50%;
    align-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: 80% 20%;
}

image {
    margin-left: auto;
}