.leftBar{
    position: fixed;
    top: 0;
    left: 0;
    background: #253539;
    overflow: auto;
    height:100%;
    width:10vw;
}
.leftBar::-webkit-scrollbar{
    display: none;
}

.left-container{
    height:100vh;
    width: 80%;
    display:flex;
    flex-direction: column;
}
.left-container .user{
    margin-top: 20px;
}
.left-container .item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.left-container .item img{
    width: 28px;
}

hr{
    background: #88bdbc;
    border: none;
    height: .4px;
    margin-bottom: 20px;
}

.item{
    align-items: left;
}