.leftBar{
    position: fixed;
    top: 0;
    left: 0;
    background: #646cff;
    overflow: auto;
    height:100%;
    width:18vw;
}
.leftBar::-webkit-scrollbar{
    display: none;
}

.left-container{
    height:100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    color: azure;
}
.left-container .user{
    margin-top: 20px;
}
.left-container .item{
    display: flex;
    align-items: center;
    width: 100%;
}
.left-container .item:hover {
    background: #262b2b;
}
.left-container .item img{
    width: 28px;
}
.profile-container:hover {
    background: #262b2b;
}
hr{
    background: #88bdbc;
    border: none;
    height: .4px;
    margin-bottom: 20px;
}

.item{
    align-items: left;
}