#nav-container {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0;
    display:flex;
    justify-content:space-between;
    width:100%;
    background: #010101;
}

#nav-container:hover {
    opacity: 1;
}

.navLink{
    text-align: center;
    padding:20px;
}

#nav-center{
    display:flex;
    justify-content: space-around;
}

.logo-icon {
    position: absolute;
    margin-left: 11%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }