.update-body {
    width: 100vw;
    height: 100vh;
    margin-top: 70px;
    background-color: #646cff;
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: bold;
    overflow-y: auto;
}

.update-body form {
    padding: 20px;
    width: 600px;
    margin:0 auto;
    align-items: center; 
    background-color: white;
    color: #646cff;
    border-radius: 25px;
}

.update-body label, input {
    margin: 0 auto;
    align-items: center;
    display: block;
}

.update-body label {
    font-size: 25px;
    margin: 10px;
}

.update-body input[type = "text"] {
    margin-bottom: 15px;
    width: 70%;
    height: 30px;
    border-color: #646cff;
    border-width: 4px;
    background-color: #e0e2ff;
    font-size: 15px;
    color: #33389a;
}

.update-body input[type = "datetime-local"] {
    background-color: #33389a;
    margin-bottom: 15px;
    font-size: 15px;
}

.update-body button {
    margin-top: 20px;
}
